<nav class="navbar navbar-expand-lg bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"><i class="fa fa-mortar-board"></i> Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active text-white " aria-current="page" href="#"><i class="fa fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#about"><i class="fa-solid fa-address-card"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#project"><i class="fa-solid fa-diagram-project"></i> Project</a>
        </li>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#certification"><i class="fa-solid fa-certificate"></i> Certification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#contact"><i class="fa-solid fa-address-book"></i> Contact</a>
      </li>

      </ul>
    </div>
  </div>
</nav>